.background {
    &--primary {
        background: $color-primary;
    }

    &--secondary {
        background: $color-secondary;
    }

    &--white {
        background: $color-white;
    }

    &--neutral-03 {
        background: $color-neutral-03;
    }

    &--success {
        background: $color-success;
    }

    &--warning {
        background: $color-warning;
    }

    &--danger {
        background: $color-danger;
    }
}
