.border {
    &__color {
        &--secondary {
            border: 2px solid $color-secondary;
        }
    }

    &__radius {
        &--circle {
            border-radius: 50%;
        }

        &--10 {
            border-radius: 10px;
        }
    }
}
