.display {
    &--none {
        display: none;
    }

    &--block {
        display: block;
    }

    &--hide-sm {
        @media (max-width: $breakpoint-mobile) {
            display: none;
        }
    }
}
