.text {
    &--primary-01 {
        color: $color-primary;
    }

    &--primary-03 {
        color: $color-white;
    }

    &--success {
        color: $color-success;
    }

    &--warning {
        color: $color-warning;
    }

    &--danger {
        color: $color-danger;
    }
}
