.text {
    &--primary-01 {
        color: $color-primary;
    }

    &--white {
        color: $color-white;
    }

    &--black {
        color: $color-black;
    }

    &--success {
        color: $color-success;
    }

    &--warning {
        color: $color-warning;
    }

    &--danger {
        color: $color-danger;
    }

    &--grey-80 {
        color: $color-grey-80;
    }
}
