.text {
    &--primary-01 {
        color: $color-primary-01;
    }

    &--primary-03 {
        color: $color-primary-03;
    }

    &--success {
        color: $color-secondary-02;
    }

    &--warning {
        color: $color-secondary-04;
    }

    &--danger {
        color: $color-secondary-06;
    }
}
