.icon {
    cursor: pointer;

    &__stroke {
        &--primary {
            stroke: $color-primary;
        }

        &--default {
            stroke: $color-black;
        }
    }

    &__fill {
        &--none {
            fill: none;
        }

        &--primary {
            fill: $color-primary;
        }
    }
}
