@import "../../scss/settings/index";

.invoice {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 10vh;
    padding: 2rem 2rem;
    border-radius: 10px;
    background: $color-background-secondary;

    h2 {
        font-size: 1rem;
    }

    p {
        line-height: 1.5rem;
    }

    &__info {
        gap: 0.75rem;

        & > div:first-child {
            font-weight: 700;
        }
    }

    &__price {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
}
