@import "../../scss/settings/colors";
.button {
    padding: 12px 24px;
    border-radius: 16px;
    cursor: pointer;

    &__pill {
        // display: flex;
        // align-items: center;
        // gap: 5px;

        input {
            &:checked,
            &:not(:checked) {
                position: absolute;
                left: -9999%;
            }

            &:checked + label {
                background-color: $color-primary;
            }
        }

        label {
            padding: 10px;
            border: 1px solid black;
            display: inline-block;
            border-radius: 31px;
            width: 100%;
        }
    }

    &__pill--icon {
        @extend .button__pill;
        padding: 4px 8px 4px 4px;
    }

    &__icon {
        background: white;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}
