$color-primary-01: #6dc7c7;
$color-primary-02: #9ed8d8;
$color-primary-03: #fff;

$color-secondary-01: #f5f6f8;
$color-secondary-02: #2cc881;
$color-secondary-03: #1e8b58;
$color-secondary-04: #d6bf6a;
$color-secondary-05: #dfba31;
$color-secondary-06: #f56855;
$color-secondary-07: #da250c;

$color-neutral-01: #fff;
$color-neutral-02: #f0f1f5;
$color-neutral-03: #f0f2f5;
$color-neutral-04: #e2e4e9;
$color-neutral-05: #aaaaaa;
$color-neutral-06: #323338;
