@import "./dark-colors";
@import "./light-colors";

html[data-theme="dark"] {
    --color-primary: #{$dark-color-primary};
    --color-secondary: #{$dark-color-secondary};

    --color-background-primary: #{$dark-color-background-primary};
    --color-background-secondary: #{$dark-color-background-secondary};

    --color-success: #{$dark-color-success};
    --color-success-darken: #{$dark-color-success};
    --color-warning: #{$dark-color-warning};
    --color-warning-darken: #{$dark-color-warning-darken};
    --color-danger: #{$dark-color-danger};
    --color-danger-darken: #{$dark-color-danger-darken};
    --color-grey-20: #{$dark-color-grey-20};
    --color-grey-40: #{$dark-color-grey-40};
    --color-grey-60: #{$dark-color-grey-60};
    --color-grey-80: #{$dark-color-grey-80};

    --color-text: #{$color-white};

    --background-filter: #{$dark-color-background-secondary};
}

html[data-theme="light"] {
    --color-primary: #{$light-color-primary};
    --color-secondary: #{$light-color-secondary};

    --color-background-primary: #{$light-color-background-primary};
    --color-background-secondary: #{$light-color-background-secondary};

    --color-success: #{$light-color-success};
    --color-success-darken: #{$light-color-success};
    --color-warning: #{$light-color-warning};
    --color-warning-darken: #{$light-color-warning-darken};
    --color-danger: #{$light-color-danger};
    --color-danger-darken: #{$light-color-danger-darken};

    --color-grey-20: #{$light-color-grey-20};
    --color-grey-40: #{$light-color-grey-40};
    --color-grey-60: #{$light-color-grey-60};
    --color-grey-80: #{$light-color-grey-80};

    --color-text: #{$light-color-grey-80};

    --background-filter: #{$color-white};
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

$color-background-primary: var(--color-background-primary);
$color-background-secondary: var(--color-background-secondary);

$color-success: var(--color-success);
$color-success-darken: var(--color-success-darken);
$color-warning: var(--color-warning);
$color-warning-darken: var(--color-warning-darken);
$color-danger: var(--color-danger);
$color-danger-darken: var(--color-danger-darken);

$color-white: #fff;
$color-black: #000;

$color-grey-20: var(--color-grey-20);
$color-grey-40: var(--color-grey-40);
$color-grey-60: var(--color-grey-60);
$color-grey-80: var(--color-grey-80);

$color-text: var(--color-text);

$background-filter: var(--background-filter);
