$dark-color-primary: #3bd1d1;
$dark-color-secondary: #9cebeb;

$dark-color-background-primary: #363a3f;
$dark-color-background-secondary: #505964;

$dark-color-success: #2ee08d;
$dark-color-success-darken: #18a463;
$dark-color-warning: #ebd047;
$dark-color-warning-darken: #dcbc18;
$dark-color-danger: #ff4b33;
$dark-color-danger-darken: #d61900;

$dark-color-grey-20: #f4f4f6;
$dark-color-grey-40: #eeeff1;
$dark-color-grey-60: #cfcfcf;
$dark-color-grey-80: #252525;
$dark-color-black: #000;
