@import "../../scss/settings/index";
.dashboard {
    &__header {
        margin: 0 0 2rem 0;
    }

    &__actions {
        gap: 2.5rem;
        justify-content: space-between;
        @media (min-width: $breakpoint-tablet) {
            justify-content: flex-end;
        }
    }

    &__content {
        ul {
            gap: 1rem;
        }
    }

    &__filter {
        gap: 10px;
        cursor: pointer;
    }

    &__footer {
        button {
            flex-direction: row-reverse;
            color: $color-primary;
            background: none;
            border: none;
            font-weight: 600;

            span {
                background: none;
            }
        }

        svg {
            fill: $color-primary;
        }
    }

    aside {
    }
}
