.dashboard {
    &__header {
        margin: 0 0 2rem 0;
    }

    &__actions {
        gap: 2.5rem;
    }

    &__content {
        gap: 1rem;
    }

    &__filter {
        gap: 10px;
        cursor: pointer;
    }
}
