@use "../../common" as *;
.input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;

  &__icon {
    padding-right: 1.5rem;
  }

  &::placeholder {
    color: $color-text;
  }
}
