* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    min-height: 100%;

    &[data-theme="light"] {
        background: linear-gradient(
            177.16deg,
            $color-white -5.63%,
            $color-grey-40 118.8%,
            #f0f2f5 118.8%
        );
    }

    &[data-theme="dark"] {
        background: linear-gradient(
            174.16deg,
            $color-background-primary 0%,
            $color-background-secondary 113.39%
        );
    }
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    color: $color-text;
    height: 100%;
}

ul {
    list-style: none;
}

input,
button {
    border: none;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}
