$light-color-primary: #6dc7c7;
$light-color-secondary: #9ed8d8;

$light-color-background-primary: #fff;
$light-color-background-secondary: #f5f6f8;

$light-color-success: #2cc881;
$light-color-success-darken: #1e8b58;
$light-color-warning: #d6bf6a;
$light-color-warning-darken: #dfba31;
$light-color-danger: #f56855;
$light-color-danger-darken: #da250c;

$color-white: #fff;
$light-color-grey-20: #f0f1f5;
$light-color-neutral-03: #f0f2f5;
$light-color-grey-40: #e2e4e9;
$light-color-grey-60: #dddddd;
$light-color-grey-80: #323338;
$light-color-black: #000;
