@import "../../assets/styles/settings/index";

.create {
  .active {
    color: $color-primary;
    font-weight: 700;

    p {
      color: $color-white;
    }

    &::after {
      background: $color-primary;
    }
  }

  .disabled {
    color: $color-grey-60;
    font-weight: 400;

    &::after {
      background: $color-grey-60;
    }
  }

  &__nav {
    max-width: 350px;
    font-size: 0.875rem;

    li {
      position: relative;
      padding: 0 0.25rem 0.25rem;
      line-height: 20px;

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        background: $color-primary;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__container {
    @media (max-width: $breakpoint-mobile) {
      display: block;
    }
  }

  &__progress {
    height: 350px;
    width: 25%;
    background: white;
    gap: 0.5rem;
    div {
      gap: 0.625rem;
    }
  }

  &__bar-container {
    height: 67px;
  }

  &__bar {
    transform-origin: 0 100%;
    transform: rotate(90deg);
    display: block;
    height: 2px;
    width: 67px;
    margin-left: 18px;
    appearance: none;

    &::-webkit-progress-bar {
      border-radius: 3px;
      background-color: $color-grey-60;
    }

    &::-webkit-progress-value {
      background-color: $color-primary;
    }
  }

  &__step {
    width: 40px;
    height: 40px;
  }

  &__form {
    @media (min-width: $breakpoint-tablet) {
      width: 75%;
    }
  }
}
