@import "../../scss/settings/index";

.datepicker {
  width: 380px;
  border-radius: 10px;
  z-index: $z-modal;
  @include box-shadow(0px, 2px, 20px, 5px, rgba(0, 0, 0, 0.1));

  &__year {
    padding: 0.75rem 0.75rem;
  }

  &__weeks {
    padding: 0 0.75rem;
  }

  &__weekdays {
    padding: 0.75rem;

    li {
      flex-basis: calc(100% / 7);
      text-align: center;
    }
  }

  &__day {
    flex-basis: calc(100% / 7);
    text-align: center;
    position: relative;
    height: 32px;
    cursor: pointer;
    margin-bottom: 0.75rem;
    p {
      width: 32px;
    }

    &--active {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      position: relative;
      transition: background-color 0.5s ease-in;
    }

    &--selected {
      &::before {
        @extend %before;
        @include gradient(false);
        transition: all 0.5s ease-in;
      }
    }

    &--first {
      &::before {
        @extend %before;
        @include gradient(true, -90deg);
      }
    }

    &--second {
      &::before {
        @extend %before;
        @include gradient(true, 90deg);
        transition: all 0.5s ease-in;
      }
    }
  }

  &__footer {
    gap: 1rem;
    padding: 1rem 0 0.5rem 0;
  }
}
