@use "../settings/breakpoints" as *;

.display {
  &--none {
    display: none !important;
  }

  &--hide-sm {
    @media (max-width: $breakpoint-mobile) {
      display: none !important;
    }
  }

  &--hide-lg {
    @media (min-width: $breakpoint-tablet) {
      display: none !important;
    }
  }
}
