@import "../../assets/styles/settings/index";

.detail {
  section {
    header {
      gap: 1rem;

      button {
        flex-direction: row;
      }
    }
  }

  &__main-content {
    gap: 1rem;

    div:first-child {
      gap: 2rem;
      @media (min-width: $breakpoint-mobile) {
        flex-direction: column;
      }
    }

    button {
      flex-direction: row;
    }

    @media (min-width: $breakpoint-mobile) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item-titles {
    @extend .detail__service;

    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  &__service {
    p {
      @media (min-width: $breakpoint-mobile) {
        flex-basis: 25%;
      }
    }

    @media (min-width: $breakpoint-mobile) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__price {
    @media (min-width: $breakpoint-mobile) {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  footer {
    margin: 2rem -1.5rem -1.5rem;
    border-radius: 0px 0px 10px 10px;
    padding: 1.5rem;
  }

  &__button {
    button {
      background-color: $color-danger;
      width: 280px;
    }
  }
}
