@import "../../scss/settings/index";

.detail {
    section {
        header {
            @extend .detail__section;
        }
    }

    &__section {
        gap: 1rem;

        button {
            flex-direction: row;

            .flex--center {
                justify-content: flex-end;
            }
        }
    }

    footer {
        margin: 2rem -1.5rem -1.5rem;
        border-radius: 0px 0px 10px 10px;
        padding: 1.5rem;
    }

    &__button {
        button {
            background-color: $color-danger;
            width: 280px;
        }
    }
}
