@use "../../common" as *;

.button {
  border-radius: $border-radius-1;
  cursor: pointer;
  font-size: $font-size-16;

  &--primary {
    padding: $spacing-xs $spacing-l;
    background-color: $color-primary;
    color: $color-white;
  }

  &--secondary {
    padding: $spacing-xs $spacing-m;
    background-color: $color-white;
    color: $color-black;
  }

  &--icon {
    border-radius: $border-radius-2;
    padding: $spacing-xxxs $spacing-xxs $spacing-xxxs $spacing-xxxs;
    gap: 0.5rem;

    span {
      stroke: $color-primary;
      background-color: $color-white;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }
  }

  &--inline {
    flex-direction: row-reverse;
    color: $color-primary;
    font-weight: $font-weight-700;

    span {
      background-color: $color-transparent;

      svg {
        fill: $color-primary;
      }
    }
  }
}
