@use "../../common" as *;

.button {
  border-radius: 16px;
  cursor: pointer;
  font-size: 1rem;

  &--primary {
    padding: 12px 24px;
    background-color: $color-primary;
    color: $color-white;
  }

  &--secondary {
    padding: 12px 20px;
    background-color: $color-white;
    color: $color-black;
  }

  &--icon {
    border-radius: 31px;
    padding: 4px 8px 4px 4px;
    gap: 0.5rem;

    span {
      stroke: $color-primary;
      background-color: white;
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }

  &--inline {
    flex-direction: row-reverse;
    color: $color-primary;
    font-weight: 700;

    span {
      background-color: transparent;

      svg {
        fill: $color-primary;
      }
    }
  }
}
