@import "../../scss/settings/index";

.info {
  h2 {
    text-transform: uppercase;
    font-size: 12px;

    border-bottom: 1px solid $color-grey-60;

    padding: 12px 0;
  }

  button {
    width: 280px;
    margin: auto;
    background: $color-primary;
    font-weight: 600;
  }

  &__footer {
    button {
      margin: unset;
      width: auto;
      color: $color-danger;
      background: none;
      flex-direction: row;

      .button__icon {
        justify-content: flex-end;
      }

      svg {
        stroke: $color-danger;
      }
    }
  }
}
